Source: node-d3-time-format
Section: javascript
Priority: optional
Maintainer: Debian Javascript Maintainers <pkg-javascript-devel@lists.alioth.debian.org>
Uploaders: Pirate Praveen <praveen@debian.org>
Build-Depends:
 debhelper-compat (= 13)
 , dh-sequence-nodejs
 , nodejs
 , rollup
 , node-rollup-plugin-terser
 , node-tape <!nocheck>
 , node-d3-time
 , node-d3-queue <!nocheck>
Standards-Version: 4.6.0
Homepage: https://d3js.org/d3-time-format/
Vcs-Git: https://salsa.debian.org/js-team/node-d3-time-format.git
Vcs-Browser: https://salsa.debian.org/js-team/node-d3-time-format
Testsuite: autopkgtest-pkg-nodejs
Rules-Requires-Root: no

Package: node-d3-time-format
Architecture: all
Depends:
 ${misc:Depends}
 , nodejs
 , node-d3-time
Description: time formatter and parser inspired by strftime and strptime
 This module provides a JavaScript implementation of the venerable strptime and
 strftime functions from the C standard library, and can be used to parse or
 format dates in a variety of locale-specific representations.
 .
 Node.js is an event-based server-side JavaScript engine.
